/* Mobile */
@media (max-device-width: 750px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: header;
        align-items: center;
        color: #00003A;
        background-image: url("/images/background.jpg");
        background-size: cover;
        overflow:visible;

    }
    h1, h2, p {
        text-align: center;
        font-size: 25px;
    }
}
/* Larger than tablet */
@media (min-device-width: 750px) {
body{
    height: 100vh;
    width: 100vw;
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "header header header"
    "art muayThai garden"
    "hiking anime cooking";
    color: #00003A;
    overflow:visible;
    background-image: url("/images/background.jpg");
    background-size: cover;
}
h1, h2{
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 28px;
}
p{
    font-size: 20px;
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header;
    align-items: center;
}
#title{
    margin-top: -50px;
    padding-bottom: 20px;
}
#profilePicture{
    height: 50vh;
    border-radius: 50%;
}
img{
    height: 30vh;
}
.picture{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: art;
}
#muayThai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: muayThai;
}
#garden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: garden;
}
#hiking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: hiking;
}
#anime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: anime;
}
#cooking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: cooking;
}
}

